p {
    color: #3B4242;
}
a {
    text-decoration: none !important;
}
/* Animations */
.hand-wave {
    margin-bottom: 1rem;
    animation-name: wave-animation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg); }
    10% { transform: rotate(-10.0deg); }
    20% { transform: rotate( 12.0deg); }
    30% { transform: rotate(-10.0deg); }
    40% { transform: rotate(  9.0deg); }
    50% { transform: rotate(  0.0deg); }
    100% { transform: rotate(  0.0deg); }
}
.dark-row {
	background-color: ghostwhite;
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;
}
.light-row {
    padding: 100px 10px;
    min-height: 100%;
    min-height: 100vh;
}
.my-1 {
    margin-top: 1%;
    margin-bottom: 1%;
}
.footer {
    padding: 45px 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.footer-links {
    margin-top: 1rem;
    text-align: end;
}
.link-spacing {
    margin-right: 1rem;
    margin-left: 1rem;
}

.back-to-top {
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    right: 10px;
}
 .profile-picture {
     border-radius: 50%;
     display: inline-block;
     position: relative;
     width: 30%;
     overflow: hidden;
     z-index: 1;
 }

 .about-first-card {
     margin-top: -3%;
     margin-left: 9.5%;
     margin-right: 9.5%;
     padding-top: 4%;
 }